@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*asumsi lebar layar adalah 1440*/
.row {
   clear:both;
}

/* adjusted grid size to 1440 matching my screen width */
.container {
	width: 1380px;
	margin: 0px auto;
}

.grid_12 {
	width: 1350px;
}

.grid_11 {
	width: 1235px;
}

.grid_10 {
	width: 1120px;
}

.grid_9 {
	width: 1005px;
}

.grid_8 {
	width: 890px;
}

.grid_7 {
	width: 775px;
}

.grid_6 {
	width: 660px;
}

.grid_5 {
	width: 545px;
}

.grid_4 {
	width: 430px;
}

.grid_3 {
	width: 315px;
}

.grid_2 {
	width: 200px;
}

.grid_1 {
	width: 85px;
}

/* new part starts here */

.mar-left {
    margin-left: 40px;
    margin-right: 30px;
}

.mar-right {
    margin-left: 30px;
    margin-right: 40px;
}

.fixed {
    font-size: 0;
    padding-top: 30px;
}

.row .item-berita {
    margin: auto;
    float: initial;
    font-size: initial;
    margin-left: 80px;
}

.row .item-berita:first-child {
    margin-left: 40px;
}

.row .item-berita:last-child {
    margin-right: 40px;
}

.item-berita {
    display: inline-block;
}

/* new part ends here */

[class*="grid_"] {
	float: left;
}

.cover-img{
   max-width: 100%;
   padding-top: 40px; /* just to make it symmetric */
}

.item-berita-content {
   background-color: beige;
   padding: 20px; 
   border:1px solid #565656; 
}

.cover {
    padding:40px 0px; /* same here, making it symmetric */
}

.cover-subtitle {
    font-family: "Roboto", sans-serif;
    color: #C70000;
}

.cover-title {
    font-family: "Libre Bodoni", serif;
    font-size: xx-large;
}

.cover-title a {
    color:black;
    text-decoration: none;
}

.cover-title a:hover {
    color:black;
    text-decoration:underline;
}

.cover-intro {
    margin-top:24px;
    font-family: "Roboto", sans-serif;
    color:grey;
}